div(id=element.id).uk-height-1-1.v-element.v-page.v-default-page
  div.uk-container.uk-height-1-1
    div.uk-container-center
      div.uk-panel.uk-panel-box.uk-margin-large-top
        div.uk-panel-teaser.uk-text-center
          img(src='/www/resources/valacar.png',
              height='100px',
              width='100px').uk-margin-top.uk-margin-bottom
        ul.uk-list
          li.uk-margin-small-bottom
            button( id='goLeases',
                    type='button').uk-button.uk-button-large.uk-button-primary.uk-border-rounded.uk-width-1-1
              | Leases
          li
            button( id='goTranslations',
                    type='button').uk-button.uk-button-large.uk-button-primary.uk-border-rounded.uk-width-1-1
              | Translations
