div(id=element.id).uk-height-1-1.v-element.v-page.v-default-page
  div.uk-container.uk-height-1-1
    div.uk-container-center
      div.uk-panel.uk-panel-box.uk-margin-large-top
        div.uk-panel-teaser
          img(src='/www/resources/valacar.png',
              height='100px',
              width='100px').uk-align-center.uk-margin-top
        ul.uk-list
          li
            button( id='run',
                    type='button').uk-button.uk-button-large.uk-button-primary.uk-border-rounded.uk-width-1-1
              | Run
            button( id='reload',
                    type='button').uk-button.uk-button-large.uk-button-primary.uk-border-rounded.uk-width-1-1.uk-hidden
              | Reload
          li.uk-margin-small-top
            button( id='goDefault',
                    type='button').uk-button.uk-button-large.uk-button-primary.uk-border-rounded.uk-width-1-1
              | Go To Default
