table(id=element.id).uk-table.uk-table-striped.uk-table-condensed.uk-margin-remove.v-element.v-table.v-history-table
  thead
    tr
      th Identity
      th Range
  tbody
    each item in history
      tr
        td
          dl.uk-description-list
            dt 
              span.uk-text-small MAC Address
            dd
              a(data-filter-string=item.device)
                i.uk-icon-search.v-left-icon
                = item.device
            dt 
              span.uk-text-small IP Address
            dd
              //- a(data-filter-string=item.address)
              //-   i.uk-icon-search.v-left-icon
              = item.address 
            dt 
              span.uk-text-small Host Name
            dd
              - if (item.host)
                a(data-filter-string=item.host)
                  i.uk-icon-search.v-left-icon
                  = item.host
              - else
                | (unknown)
        td
          dl.uk-description-list
            dt 
              span.uk-text-small From/To
            dd
              //- a(data-filter-date=item.fromAsISOString)
              //-   i.uk-icon-search.v-left-icon
              = item.fromAsString
              br
              //- a(data-filter-date=item.toAsISOString)
              //-   i.uk-icon-search.v-left-icon
              = item.toAsString
